parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	predisClient: Ublaboo\PredisClientNetteExtension\DI\PredisClientNetteExtension

predisClient:
    uri: 'tcp://127.0.0.1:6379'
    options:
    sessions: FALSE
    sessionsTtl: NULL

session:
	expiration: 14 days

tracy:
	logSeverity: E_ALL

services:
	- App\Model\Model
	router: App\RouterFactory::createRouter